* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    width: fit-content;
}
a {
    color:inherit;
    text-decoration: none;
}
.outer-container{
    display: flex;
    flex-direction: column;
    font-family: LCD;
}

.nav-container {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-container h1 {
    padding: 20px;
}
#nav-links {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
#nav-links li{
    display: inline-block;
    margin-right: 20px;
}

.content-container {
    padding-top: 74.880px;
    display: flex;
    flex-direction: row;
    height: 600px;
    margin-right: 100px;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 200px;
}

#rethead {
    margin-left: 200px;
}




.hero h1 {
    font-size: 90px;
    font-weight: bold;
    padding: 10px 0 10px 0;
}
.hero p {
    font-size: 18px;
}


.btn {
    margin-top: 10px;
    cursor: pointer;
    padding: 10px;
    background-color: transparent;
    border: 3px solid black;
}



@keyframes blink {
    0%, 49% {opacity: 1;}
    50%, 100% {opacity: 0;}
}

#underscore {
    animation: blink 1s steps(1) infinite;
}

.hero-support {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

td {
    border: 1px solid black;
}
tr {
    font-size: 28px;
    text-align: center;
}

tr:hover {
    color: white;
    background-color: black;
}

.nav-item:hover {
    color: white;
    background-color: black;
}

#getstarted {
    font-family: LCD;
    font-size: large;
    background-color: transparent;
}
#getstarted:hover {
    scale: 102%;
    background-color: black;
    color: white;
}

@font-face {
    font-family: 'LCD'; /*a name to be used later*/
    src: url('fonts/LcdSolid-VPzB.ttf'); /*URL to font*/
}
@media (max-width:768px) {
    .content-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
        margin-left: 100px;
    }
    #nav-links {
        display: none;
    }
    .hero {
        padding-right: 20px;
        
    }
    #rethead {
        margin-left: 0px;
    }
    .hero-support {
        padding-top: 100px;
    }
}

.heading-container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 100px;
    width: 100%;
    font-size: xx-large;
}

.about-container {
    display: flex;
    height: 100%;
}

.about-text {
    font-size: large;
    width: 45%;
}

.heading-container h1:hover {
    background-color: black;
    color: white;
}

.project-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
}
.project2-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 200px;
    margin-bottom: 50px;
}


@media (max-width:768px) {
    .heading-container {
        padding-top: 100px;
    }
    .about-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .project-container {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .project2-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .about-text {
        padding-top: 50px;
        width: 70%;
    }
    #project-container {
        padding-bottom: 510px;
        margin-right: 200px;
    }
    #project2-container {
        padding-bottom: 150px;
        margin-right: 150px;
    }

}
#project-container img {
    margin-top: 0px;
    margin-right: -200px;
    margin-bottom: -510px;
    line-height: 0;
    animation: glitch1 3s infinite;
}
#project-container img:nth-child(2) {
    animation: glitch2 3s infinite;
  }
  
#project-container img:nth-child(3) {
    animation: glitch3 3s infinite;
  }
#project2-container img {
    margin-top: -150px;
    margin-right: -150px;
    margin-bottom: -150px;
    line-height: 0;
    animation: glitch1 3s infinite;
}
#project2-container img:nth-child(2) {
    animation: glitch2 3s infinite;
  }
  
#project2-container img:nth-child(3) {
    animation: glitch3 3s infinite;
  }
#rethead h1 {
  text-align: left;
  color: black;
  font-size: 5em;
  letter-spacing: 8px;
  font-weight: 700;
  /*Create overlap*/
  
  margin-top: -20px;
  margin-right: -20px;
  margin-bottom: -20px;
  line-height: 0;
  /*Animation*/
  
  animation: glitch1 3s infinite;
}

#rethead h1:nth-child(2) {
    color: #73a582;
    animation: glitch2 3s infinite;
  }
  
#rethead h1:nth-child(3) {
    color: black;
    animation: glitch3 3s infinite;
  }

@keyframes glitch1 {
        0% {
            transform: none;
            opacity: 1;
        }
        7% {
            transform: skew(-0.5deg, 0deg);
            opacity: 0.75;
        }
        10% {
            transform: none;
            opacity: 1;
        }
        27% {
            transform: none;
            opacity: 1;
        }
        30% {
            transform: skew(0.8deg, 0deg);
            opacity: 0.75;
        }
        35% {
            transform: none;
            opacity: 1;
        }
        52% {
            transform: none;
            opacity: 1;
        }
        55% {
            transform: skew(-1deg, 0deg);
            opacity: 0.75;
        }
        50% {
            transform: none;
            opacity: 1;
        }
        72% {
            transform: none;
            opacity: 1;
        }
        75% {
            transform: skew(0.4deg, 0deg);
            opacity: 0.75;
        }
        80% {
            transform: none;
            opacity: 1;
        }
        100% {
            transform: none;
            opacity: 1;
        }
    }
    
    @keyframes glitch2 {
        0% {
            transform: none;
            opacity: 0.25;
        }
        7% {
            transform: translate(-2px, 0px);
            opacity: 0.5;
        }
        10% {
            transform: none;
            opacity: 0.25;
        }
        27% {
            transform: none;
            opacity: 0.25;
        }
        30% {
            transform: translate(-5px, 0px);
            opacity: 0.5;
        }
        35% {
            transform: none;
            opacity: 0.25;
        }
        52% {
            transform: none;
            opacity: 0.25;
        }
        55% {
            transform: translate(-5px, 0px);
            opacity: 0.5;
        }
        50% {
            transform: none;
            opacity: 0.25;
        }
        72% {
            transform: none;
            opacity: 0.25;
        }
        75% {
            transform: translate(-2px, 0px);
            opacity: 0.5;
        }
        80% {
            transform: none;
            opacity: 0.25;
        }
        100% {
            transform: none;
            opacity: 0.25;
        }
    }
    
    @keyframes glitch3 {
        0% {
            transform: none;
            opacity: 0.25;
        }
        7% {
            transform: translate(2px, 0px);
            opacity: 0.5;
        }
        10% {
            transform: none;
            opacity: 0.25;
        }
        27% {
            transform: none;
            opacity: 0.25;
        }
        30% {
            transform: translate(5px, 0px);
            opacity: 0.5;
        }
        35% {
            transform: none;
            opacity: 0.25;
        }
        52% {
            transform: none;
            opacity: 0.25;
        }
        55% {
            transform: translate(5px, 0px);
            opacity: 0.5;
        }
        50% {
            transform: none;
            opacity: 0.25;
        }
        72% {
            transform: none;
            opacity: 0.25;
        }
        75% {
            transform: translate(2px, 0px);
            opacity: 0.5;
        }
        80% {
            transform: none;
            opacity: 0.25;
        }
        100% {
            transform: none;
            opacity: 0.25;
        }
    }


.contact-container {
    display: flex;
    justify-content: space-evenly;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form input,textarea {
    background-color: transparent;
    height: 40px;
    border: 1px solid black;
    padding-left: 10px;
    margin-bottom: 20px;
    font-family: LCD;
}

.contact-form textarea {
    padding-top: 10px;
    height: 100px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact-form input:focus,textarea:focus {
    background-color: transparent;
    outline: none;
}
.contact-form input::placeholder,textarea::placeholder {
    color: black;
    font-family: LCD;
}
/* .contact-form input:hover, textarea:hover {
    color: white;
    background-color: black;
}
.contact-form input:hover::placeholder,textarea:hover::placeholder {
    color: white;
    background-color: black;
} */

.social h1 {
    font-size: xx-large;
}

@media (max-width:768px) {
    .contact-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
}

.social-links {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100%;
    margin-top: 20px;
}

.social-links a {
    padding-left: 20px;
}

.contact-form button {
    padding: 10px;
    background-color: transparent;
    border: 1px solid black;
    font-family: LCD;
    cursor: pointer;
    width: 120px;
}

.contact-form button:hover {
    background-color: black;
    color: white;
}

@media (max-width:768px) {
    .social {
        padding-top: 50px;
    }
}

::-webkit-scrollbar {
    width: 10px;
  }

::-webkit-scrollbar-track {
    background-color: #73a582;
}
::-webkit-scrollbar-thumb {
    background: black;
  }